
html, body {
    overflow: hidden;
    background-color: transparent;
}

body {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

h1#msg {
    font-family: monospace;
    font-size: 20pt;
    display: none;
    user-select: none;
    position: fixed;
    color: white;
    background-color: transparent;
}
