/* WTF. Some CSS... */



html, body {
    overflow: hidden;
    background-color: transparent;
}

body {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}
